.category{
    align-items: center;
    background-color: var(--dark-purple);
    border-radius: 1rem 0 0 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 3.5rem;
    justify-content: flex-start;
    padding-left: 2.25rem;
    width: 300px;
    font-size: 20px;
    font-weight: inherit;
    
    &--active{
        background-color: white;
        color: var(--dark-purple);

    }
}